body {
    background:
            radial-gradient(#9c0f89 3px, transparent 4px),
            radial-gradient(#ffffff 3px, transparent 4px),
            linear-gradient(#fff 4px, transparent 0),
            linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
            linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
            #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

a {
    color: #9c0f89;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #000000;
    background: #9c0f8952;
    opacity: 0.7;
    border-radius: 7px;
    max-width: 49%;
    padding: 0 5px;

}

main {

}

.form-container {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 2px 0px 17px 0px rgb(0 0 0);;
    padding: 30px;
}

form {
    display: flex;
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.6;
}
.instructions {
    padding: 16px;
    border: 1px solid rgb(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
}

.submit-button {
    margin-left: 10px;
    background: #9c0f89;
    color: white;
    width: 150px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
}

.submit-button:hover {
    cursor: pointer;
    background: #c910b0;
}
.poem {
    font-size: 14px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #9c0f89;
    box-shadow: 0 20px 60px rgb(66, 50, 100, 0.08);

}

.hidden {
    display: none;
}

.poem strong {
    font-size: 25px;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
}